@import "../../colors";

.timer {
    color: white;
    margin-bottom: 30px;
    margin-bottom: 80px;
}

.timer-time {
    margin-top: -265px;
    font-size: 8rem;
}

.timer-button {
    padding: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;

    &:not(:last-child) {
        margin-right: 10px;
    }

    &:hover {
        color: $coral;
        background-color: $light-grey;
    }
}