@import 'colors';

body {
  color: grey;
}

button {
    cursor: pointer;

    &.outline {
        color: $blue;
        border-color: $blue;
    
        &:hover {
            background-color: $blue;
            border-color: $blue;
            color: white;
        }
    }
}

.app { 
  height: 100vh;
  text-align: center;
  background-color: $platinum;

  input {
    background-color: $light-grey;
  
    &:hover {
      border-color: $light-blue;
    }
  
    &:focus {
      border-color: $blue;
    }
  }
}

.main {
  width: 640px;
  margin: auto;
}

.link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
